{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--index html content starts here -->
<section class="home">
    <div class="home-content">
        <h1>This is Xvm</h1>
        <p>
            Welcome to a world where the boundaries between dining and being, dissolve. Savor the paradox of exclusivity, 
            where the distinction between guest and main course blurs, creating an immersive culinary symphony.
        </p>
        <button class="menu-btn">View our Menu</button>
    </div>
</section>
